doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    section.form-container
      form(action="/auth/new-password", method="POST", novalidate)
      
        h3 Смена пароля

        input(class=(errors.newPassword ? "invalid" : "box"), type="password", name="newPassword", placeholder="Введите новый пароль", required)
        if (errors.newPassword) 
          span.error-message #{errors.newPassword.msg}

        input(class=(errors.confirmPassword ? "invalid" : "box"), type="password", name="confirmPassword", placeholder="Подтвердите новый пароль", required)
        if (errors.confirmPassword) 
          span.error-message #{errors.confirmPassword.msg}

        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="userId", value=userId)
        input(type="hidden", name="resetToken", value=resetToken)
        input.btn(type="submit", value="Отправить")

    include ../includes/footer.pug
    script(src="/js/script.js") 