doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.update-profile

      h1.title Редактировать профиль
      form(action="", method="POST", enctype="multipart/form-data")
        img(src="/" + user.imageUrl, alt=user.name)
        .flex
          .inputBox
            span Ваше имя:
            input.box(type="text", name="name", value=user.name, placeholder=user.name, required)
            span Ваш Email:
            input.box(type="email", name="email", value=user.email, placeholder=user.email, required)
            span Фото профиля:
            input.box(type="file", name="image")
            input(type="hidden", name="old_image", value=user.imageUrl)

          .inputBox
            input(type="hidden", name="old_pass", value=user.password)
            span Старый пароль:
            input.box(type="password", name="update_pass", placeholder="Введите ваш старый пароль")
            span new password:
            input.box(type="password", name="new_pass", placeholder="Введите новый пароль")
            span confirm password:
            input.box(type="password", name="confirm_pass", placeholder="Введите новый пароль еще раз")

        .flex-btn
          input.btn(type="submit", value="Сохранить", name="update_profile")
          a.option-btn(href="/admin") Назад к панели

    script(src="/js/script.js")