doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.add-products
      h1.title Добавьте новый товар
      form(action="/admin/create-product", method="POST", enctype="multipart/form-data")
        div.flex
          div.inputBox
            input.box(type="text", name="title", required, placeholder="Наименование товара")
            select.box(name="categoryId", required)
              option(value="", selected, disabled) Выберите категорию
              each cat in categories
                option(value=cat.id) #{cat.title}
          div.inputBox
            input.box(type="number", min="0", name="price", required, placeholder="Стоимость товара")
            input.box(type="file", name="image", required)
        textarea.box(name="description", required, placeholder="Краткое описание товара", cols="30", rows="10")
        input(type="hidden", name="_csrf", value=csrfToken)
        input.btn(type="submit", value="Создать")

    if hasProducts

      section.show-products

        h1.title Товары

        div.box-container

          each product in products
          
            div.box
              div.price #{product.price} руб.
              img(src="/" + product.imageUrl, alt=product.title)
              div.name #{product.title}
              div.cat #{(categories.find(el => el.id === product.categoryId)).title}
              div.details #{product.description}
              div.flex-btn
                a.option-btn(href="/admin/edit-product/" + product.id) Редактировать
                form(action="/admin/delete-product", method="POST")
                  input(type="hidden", name="productId", value=product.id)
                  button.delete-btn(type="submit", onclick="return confirm('Удалить выбранный товар?');") Удалить

    script(src="/js/script.js")