doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.dashboard
      h1.title Панель управления
      div.box-container
        div.box
          h3 #{total_pendings}
          p Текущие заказы
          a.btn(href="/admin/orders") Смотреть
        div.box
          h3 #{total_completed}
          p Выполненные заказы
          a.btn(href="/admin/orders") Смотреть
        div.box
          h3 #{number_of_orders}
          p Orders placed
          a.btn(href="/admin/orders") See orders
        div.box
          h3 #{number_of_products}
          p Товары
          a.btn(href="/admin/products") Смотреть
        div.box
          h3 #{number_of_users}
          p Пользователи
          a.btn(href="/admin/users") Смотреть
        div.box
          h3 #{number_of_admins}
          p Total admins
          a.btn(href="/admin/users") See accounts
        div.box
          h3 #{number_of_accounts}
          p Total accounts
          a.btn(href="/admin/users") See accounts
        div.box
          h3 #{number_of_messages}
          p Total messages
          a.btn(href="/admin/users") See messages

    script(src="js/script.js")