doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.dashboard

      h1.title #{pageTitle}

      div.box-container

        div.box
          h3 #{total.orders}
          p Заказы
          a.btn(href="/admin/orders") Смотреть
        div.box
          h3 #{total.products}
          p Товары
          a.btn(href="/admin/catalog") Смотреть
        div.box
          h3 #{total.categories}
          p Категории
          a.btn(href="/admin/categories") Смотреть
        div.box
          h3 #{total.users}
          p Пользователи
          a.btn(href="/admin/users") Смотреть

    script(src="/js/script.js")