doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation
    section.placed-orders 
      if hasOrders
        h1.title Заказы
        div.box-container
          each order in orders
            div.box
              p ID пользователя: 
                span #{order.userId}
              p Дата заказа: 
                span #{order.dateCreated}
              p На кого сделан заказ: 
                span #{order.name}
              p Номер телефона: 
                span #{order.phone}
              p E-Mail: 
                span #{order.email}
              p Адрес: 
                span #{`${order.address.country}, ${order.address.city}, ул. ${order.address.street} ${order.address.house}, дом ${order.address.flat}. Почтовый индекс: ${order.address.postalCode}`}
              p Способ оплаты: 
                span #{order.method}
              p Перечень товаров:  
                span 
                  each item in order.content
                    | #{`${item.title} (${item.quantity}) `}
              p Итоговая цена: 
                span #{order.totalPrice} руб.
              form(action="/admin/order-status", method="POST")
                input(type="hidden", name="orderId", value=order.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                select.drop-down(name="orderStatus")
                  option(value="В обработке", selected=((order.status === "В обработке") ? true : false)) В обработке
                  option(value="Выполнен", selected=((order.status === "Выполнен") ? true : false)) Выполнен
                div.flex-btn
                  button.option-btn(type="submit", onclick="return confirm('Вы действительно желаете изменить статус этого заказа?');") Обновить статус
              form(action="/admin/delete-order", method="POST")
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="orderId", value=order.id)
                button.delete-btn(type="submit", onclick="return confirm('Вы действительно желаете удалить этот заказ?');") Удалить

    script(src="/js/script.js")