doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation
   
    section.user-accounts

      if hasUsers

        h1.title Зарегистрированные пользователи
        div.box-container
          each user in users

            div.box(style=(user.id == admin_id) ? "display:none" : "")
              img(src="/" + user.imageUrl, alt=user.name)
              p ID пользователя: 
                span #{user.id}
              p Имя: 
                span #{user.name}
              p Email: 
                span #{user.email}
              p Тип пользователя: 
                span(style="color:" + (user.type == "admin") ? "orange" : "green") #{user.type}
              form(action="/admin/user-delete", method="POST")
                input(type="hidden", name="userId", value=user.id)
                button.delete-btn(type="submit", onclick="return confirm('Нажав это кнопку, вы удаляете профиль навсегда. Нажать?');") Удалить профиль
    
    script(src="/js/script.js")