doctype html 
html(lang="ru")
  head 
    include ../../includes/admin-head
  body 
    include ../../includes/admin-navigation

    section.add-categories

      h1.title #{pageTitle}

      form(action=(edit ? "/admin/edit-category" : "/admin/create-category"), method="POST", enctype="multipart/form-data", novalidate)

        if edit
          img(src="/" + category.imageUrl, alt=category.title)

        div.flex

          div.inputBox
            label(for="title") Название   
            input(class=(errors.title ? "box invalid" : "box"), type="text", name="title", required, placeholder=(errors.title ? errors.title.msg : "Название категории"), value=(errors.title ? null : category.title))#title

          div.inputBox
            label(for="image") Загрузите изображение
            input(class=(errors.image ? "box invalid" : "box"), type="file", name="image", required=(edit ? false : true), accept=".jpg,.jpeg,.png")#image
            
            if edit
              input(type="hidden", name="oldImageUrl", required, value=category.imageUrl)

        label(for="description") Краткое описание
        textarea(class=(errors.description ? "box invalid" : "box"), name="description", required, placeholder=(errors.description ? errors.description.msg : "Краткое описание категории"), cols="30", rows="10")#description|#{errors.description ? null : category.description}
        input(type="hidden", name="_csrf", value=csrfToken)

        if edit
          input(type="hidden", name="catId", value=category.id)

        input.btn(type="submit", value=(edit ? "Сохранить" : "Создать"))

    script(src="/js/script.js")