doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.p-category

      if hasCategories

        if filteredBy 
          a.reload(href="/catalog") Сбросить
        each cat in categories
          a(
            class=(filteredBy === cat.id ? "active" : null), 
            href=`/catalog?filteredBy=${cat.id}`
          ) #{cat.title}    
          
      else 
        p.empty Категории не найдены
    
    section.products

      if hasProducts 

        h1.title Свежие продукты
        div.box-container

          each product in products

            div.box

              div.price 
                  span #{product.price} руб.
              a.fa-solid.fa-eye(href="/show-product/" + product.id)

              a(href="/show-product/" + product.id)
                img(src="/" + product.imageUrl, alt=product.title)
              
              div.name #{product.title}

              form(action="/user/cart-add", method="POST")
                input.qty(type="number", min="1", value="1", name="qty")
                input(type="hidden", name="productId", value=product.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                input.btn(type="submit", value="В корзину")
              
              form(action="/user/wishlist-add", method="POST")
                input(type="hidden", name="productId", value=product.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                input.option-btn(type="submit", value="В список желаемого")

              if isAdmin

                a.edit-btn(href="/admin/edit-product/" + product.id) Редактировать

                form(action="/admin/remove-product", method="POST")
                  input(type="hidden", name="productId", value=product.id)
                  button.delete-btn(type="submit") Удалить из БД

      else 
        p.empty Товары не найдены

      if (hasNextPage || hasPreviousPage)
        include ../includes/pagination  
          
    include ../includes/footer.pug
    script(src="/js/script.js")