doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.products
      h1.title #{catTitle}

      if hasProducts

        div.box-container
          each product in products
            div.box

              div.price 
                span #{product.price} руб.

              a.fa-solid.fa-eye(href="/show-product/" + product.id)

              a(href="/show-product/" + product.id)
                img(src="/" + product.imageUrl, alt="")

              div.name #{product.title}

              form(action="/user/cart-add", method="POST")
                input(type="hidden", name="productId", value=`${product.id}`)
                input(type="hidden", name="_csrf", value=csrfToken)
                input.qty(type="number", min="1", value="1", name="qty")
                input.btn(type="submit", value="В корзину")
                
              form(action="/user/wishlist-add", method="POST")
                input(type="hidden", name="productId", value=`${product.id}`)
                input(type="hidden", name="_csrf", value=csrfToken)
                input.option-btn(type="submit", value="В список желаемого")

      else 
        p.empty Товары не обнаружены
        
    include ../includes/footer.pug
    script(src="/js/script.js")