doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    div.home-bg
      section.home
        div.content
          span 
            | Мы - это то, что мы едим
          h3 Укрепите свое здоровье при помощи натуральных продуктов
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus culpa officia quasi, accusantium explicabo?
          a.btn(href="/contacts") Узнать больше
    
    if hasCategories
      
      section.home-category
      
        h1.title Выберите категорию
        div.box-container
          
          each cat in categories
            div.box
              a(href=`/category?filteredBy=${cat.id}&catTitle=${cat.title}`)
                img(src="/" + cat.imageUrl, alt=cat.title)
              h3 #{cat.title}
              p #{cat.description}        
              a.btn(href=`/category?filteredBy=${cat.id}&catTitle=${cat.title}`) Товары

    else
      p.empty Категории не найдены

    section.products

      if hasProducts
      
        h1.title Свежие продукты
        div.box-container
          each product in products
            div.box

              div.price 
                span #{product.price} руб.

              a.fa-solid.fa-eye(href="/show-product/" + product.id)

              a(href="/show-product/" + product.id)
                img(src=product.imageUrl, alt=product.title)

              div.name #{product.title}

              if (!isAuthenticated)
                input.qty(type="number", min="1", value="1", name="qty")
                a.btn(href="/auth/login") В корзину
              else
                input(type="hidden", name="productId", value=product.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                input.qty(type="number", min="1", value="1", name="qty")
                button.btn(type="button", onclick="addToCart(this)") В корзину
              
              if (!isAuthenticated)
                a.option-btn(href="/auth/login") В список желаемого
              else
                input(type="hidden", name="productId", value=product.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                button.option-btn(type="button", onclick="addToWishlist(this)") В список желаемого

        div.more-products
          a.main-btn(href="/catalog")
            i.fa-solid.fa-arrow-right
      
      else
        p.empty Товары не найдены

    include ../includes/footer.pug
    script(src="/js/script.js") 