doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    section.quick-view
      
      if productIsFound

        h1.title #{pageTitle}

        div.box
          div.price 
            span #{product.price} руб.
          img(src="/" + product.imageUrl, alt="")
          div.name #{product.title}
          div.details #{product.description}
          
          if (!isAuthenticated)
            input.qty(type="number", min="1", value="1", name="qty")
            a.btn(href="/auth/login") В корзину
          else
            input.qty(type="number", min="1", value="1", name="qty")
            input(type="hidden", name="productId", value=product.id)
            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="button", onclick="addToCart(this)") В корзину
          
          if (!isAuthenticated)
            a.option-btn(href="/auth/login") В список желаемого
          else
            input(type="hidden", name="productId", value=product.id)
            input(type="hidden", name="_csrf", value=csrfToken)
            button.option-btn(type="button", onclick="addToWishlist(this)") В список желаемого

      else 
        p.empty Товар не найден

    include ../includes/footer.pug
    script(src="/js/script.js")