doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation

    section.shopping-cart

      if hasCart

        h1.title Товары в корзине

        div.box-container

          each item in cart

            div.box

              a.fas.fa-eye(href="/show-product/" + item.productId)

              a(href="/show-product/" + item.productId)
                img(src="/" + item.imageUrl, alt=item.title)

              div.name #{item.title}
              
              div.price Цена: #{item.price} руб.
              
              form(action="/user/cart-delete", method="POST")
                input(type="hidden", name="itemId", value=item.id)
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit", onclick="return confirm('Удалить товар из корзины?');")
                  i.fas.fa-times

              div.flex-btn
                form(action="/user/change-qty", method="POST")
                  input.qty(type="number", min="1", value=item.quantity, name="qty")
                  input(type="hidden", name="productId", value=item.productId)
                  input(type="hidden", name="_csrf", value=csrfToken)
                  input.option-btn(type="submit", value="Пересчитать")

              div.sub-total Итого: #{item.quantity * item.price} руб.

        div.cart-total
        
          p Стоимость всех товаров:
          a.option-btn(href="/catalog") Продолжить покупки
          a.delete-btn(href="/user/cart-clean") Очистить корзину
          a.btn(href="/user/checkout") Оформить заказ

      else 
        p.empty Ваша корзина пуста!

    include ../includes/footer
    script(src="/js/script.js")