doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation
    section.display-orders
      if cartHasItems
        each item in cart
          p #{item.product_title}:  
            span #{item.product_price} руб. / #{item.quantity} шт.
      else
        p.empty Ваша корзина пуста
      div.grand-total Итого: 
        span #{totalPrice} руб.

    section.checkout-orders
      form(action="/user/checkout", method="POST")
        h3 Оформите заказ
        div.flex
          div.inputBox
            label(for="name") Ваше имя:
            input.box(type="text", name="name", placeholder="например Евгений Лукашин", required)#name
          div.inputBox
            label(for="phone") Ваш телефон:
            input.box(type="tel", name="phone", placeholder="например +7-111-222-333", required)#phone
          div.inputBox
            label(for="email") Ваш E-Mail:
            input.box(type="email", name="email", placeholder="например fateirony@mail.ru", required)#email
          div.inputBox
            label(for="method") Способ оплаты:
            select.box(name="method", required)#method
              option(value="Наличные") Наличными при получении
              option(value="Банковская карта") Банковской картой
          div.inputBox
            label(for="country") Страна:
            input.box(type="text", name="country", placeholder="например Россия", required)#country
          div.inputBox
            label(for="city") Ваш город:
            input.box(type="text", name="city" placeholder="например Санкт-Петербург", required)#city
          div.inputBox
            label(for="street") Улица:
            input.box(type="text", name="street", placeholder="например 3-я Строителей", required)#street
          div.inputBox
            label(for="house") Номер дома:
            input.box(type="text", name="house" placeholder="например 25", required)#house
          div.inputBox
            label(for="flat") Номер квартиры:
            input.box(type="text", name="appartment", placeholder="например 12", required)#flat
          div.inputBox
            label(for="postalCode") Почтовый индекс:
            input.box(type="number", min="0", name="postalCode", placeholder="например 123456", required)#postalCode
        input(type="hidden", name="content", value=orderContent)
        input(type="hidden", name="total_price", value=totalPrice)
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="submit", name="order", class=("btn" + ((totalPrice > 0) ? "" : " disabled")), value="Заказать")

    include ../includes/footer.pug
    script(src="/js/script.js")