doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation

    section.update-profile

      if hasUser

        h1.title #{pageTitle}

        form(action="/user/edit-profile", method="POST", enctype="multipart/form-data")

          img(src=`/${user.imageUrl}`, alt=user.name)

          div.flex

            div.inputBox

              label(for="name") Ваше имя:
              input(class=(errors.name ? "box invalid" : "box"), type="text", name="name", required, placeholder=(errors.name ? errors.name.msg : null), value=(errors.name ? null: user.name))#name

              label(for="email") Ваш Email:
              input(class=(errors.name ? "box invalid" : "box"), type="email", name="email", required, placeholder=(errors.email ? errors.email.msg : null), value=(errors.email ? null: user.email))#email

              label(for="image") Фото профиля:
              input.box(type="file", name="image", accept=".jpg,.jpeg,.png")#image
              input(type="hidden", name="oldImageUrl", value=user.imageUrl)

            div.inputBox

              input(type="hidden", name="password", value=user.password)

              label(for="oldPasswordConfirm") Старый пароль:
              input(class=(errors.oldPasswordConfirm ? "box invalid" : "box"), type="password", name="oldPasswordConfirm", placeholder=(errors.oldPasswordConfirm ? errors.oldPasswordConfirm.msg : "Введите ваш старый пароль"))#oldPasswordConfirm

              label(for="newPassword") Новый пароль:
              input(class=(errors.newPassword ? "box invalid" : "box"), type="password", name="newPassword", placeholder=(errors.newPassword ? errors.newPassword.msg : "Введите новый пароль"))#newPassword
              
              label(for="newPasswordConfirm") Подтверждение пароля:
              input(class=(errors.newPasswordConfirm ? "box invalid" : "box"),type="password", name="newPasswordConfirm", placeholder=(errors.newPasswordConfirm ? errors.newPasswordConfirm.msg : "Введите новый пароль еще раз"))#newPasswordConfirm
              
          div.flex-btn

            input(type="hidden", name="_csrf", value=csrfToken)

            input(type="hidden", name="id", value=user.id)

            input.btn(type="submit", value="Сохранить")

            a.option-btn(href="/") На главную

      else 
        p.empty Профиль не найден

    include ../includes/footer.pug
    script(src="/js/script.js")