doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation

    section.update-profile

      h1.title Редактировать профиль
      form(action="/user/edit-profile/" + user.id, method="POST", enctype="multipart/form-data")
        img(src="/" + user.imageUrl, alt=user.name)
        div.flex
          div.inputBox
            label(for="name") Ваше имя:
            input.box(type="text", name="name", value=user.name, placeholder=user.name, required)#name
            label(for="email") Ваш Email:
            input.box(type="email", name="email", value=user.email, placeholder=user.email, required)#email
            label(for="image") Фото профиля:
            input.box(type="file", name="image")#image
            input(type="hidden", name="oldImage", value=user.imageUrl)

          div.inputBox
            input(type="hidden", name="old_pass", value=user.password)
            label(for="update_pass") Старый пароль:
            input.box(type="password", name="update_pass", placeholder="Введите ваш старый пароль")#update_pass
            label(for="new_pass") Новый пароль:
            input.box(type="password", name="new_pass", placeholder="Введите новый пароль")#new_pass
            label(for="confirm_pass") Подтверждение пароля:
            input.box(type="password", name="confirm_pass", placeholder="Введите новый пароль еще раз")#confirm_pass
            
        div.flex-btn
          input(type="hidden", name="_csrf", value=csrfToken)
          input.btn(type="submit", value="Сохранить" name="update_profile")
          a.option-btn(href="/") На главную

    include ../includes/footer.pug
    script(src="/js/script.js")