doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation
    section.placed-orders
      if hasOrders
        h1.title Ваши заказы
        div.box-container
          each order in orders
            div.box
              p Дата заказа: 
                span #{order.placed_on}
              p На кого сделан заказ: 
                span #{order.name}
              p Номер телефона: 
                span #{order.phone}
              p E-Mail: 
                span #{order.email}
              p Адрес: 
                span #{order.address}
              p Способ оплаты: 
                span #{order.method}
              p Перечень товаров: 
                span #{order.content}
              p Итоговая цена: 
                span #{order.total_price}
              p Статус заказа: 
                span(style="color:" + ((order.status == 'В обработке') ? "red" : "green")) #{order.status}
      else
        p.empty У вас нет заказов

    include ../includes/footer.pug
    script(src="/js/script.js")