doctype html
html(lang="ru")
  head
    include ../includes/head
  body
    include ../includes/navigation
    
    section.placed-orders
      
      if hasOrders
        
        h1.title Ваши заказы
        div.box-container
          each order in orders
            div.box
              p Дата заказа: 
                span #{order.dateCreated}
              p На кого сделан заказ: 
                span #{order.name}
              p Номер телефона: 
                span #{order.phone}
              p E-Mail: 
                span #{order.email}
              p Адрес: 
                span #{`${order.address.country}, ${order.address.city}, ул. ${order.address.street} ${order.address.house}, дом ${order.address.flat}. Почтовый индекс: ${order.address.postalCode}`}
              p Способ оплаты: 
                span #{order.method}
              p Перечень товаров:
                span 
                  each item in order.content
                    | #{`${item.title} (${item.quantity}) `}
              p Итоговая цена: 
                span #{order.totalPrice} руб.
              p Статус заказа: 
                span(style="color:" + ((order.status == 'В обработке') ? "red" : "green")) #{order.status}
              a.edit-btn(href="/user/edit-order/" + order.id, method="POST") Изменить данные
              form(action="/user/delete-order", method="POST")
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="orderId", value=order.id)
                button.delete-btn(type="submit") Отменить заказ

      else
        p.empty Заказы не найдены

      if (hasNextPage || hasPreviousPage)
        include ../includes/pagination

    include ../includes/footer.pug
    script(src="/js/script.js")