doctype html 
html(lang="ru")
  head 
    include ../../includes/admin-head
  body 
    include ../../includes/admin-navigation

    section.add-products

      h1.title #{pageTitle}

      form(action="/admin/create-product", method="POST", enctype="multipart/form-data", novalidate)

        div.flex

          div.inputBox

            if (errors.title)
              input.box.invalid(type="text", name="title", required, placeholder="Наименование товара", value=oldInput.title)
              span.error-message #{errors.title.msg}
            else
              input.box(type="text", name="title", required, placeholder="Наименование товара", value=(hasError ? oldInput.title : null))

            select(class=(errors.categoryId ? "box invalid" : "box"), name="categoryId", required)
              if (!hasError || errors.categoryId)
                option(value=null, selected, disabled) Выберите категорию
                each cat in categories
                  option(value=cat.id) #{cat.title}
              else 
                each cat in categories
                  option(value=cat.id, selected=(oldInput.categoryId === cat.id ? true : false)) #{cat.title}
            if (errors.categoryId)
              span.error-message #{errors.categoryId.msg}
          
          div.inputBox

            if (errors.price)
              input.box.invalid(type="number", step="0.01", min="0", name="price", required, placeholder="Стоимость товара", value=oldInput.price)
              span.error-message #{errors.price.msg}
            else
              input.box(type="number", step="0.01", min="0", name="price", required, placeholder="Стоимость товара", value=(hasError ? oldInput.price : null))

            input(type="hidden", name="categories", value=categories)

            if (errors.image)
              input.box.invalid(type="file", name="image", required, accept=".jpg,.jpeg,.png")
              span.error-message #{errors.image.msg}
            else
              input.box(type="file", name="image", required, accept=".jpg,.jpeg,.png")

        if (errors.description)
          textarea.box.invalid(name="description", required, placeholder="Краткое описание товара", cols="30", rows="10") #{oldInput.description}
          span.error-message #{errors.description.msg}
        else
          textarea.box(name="description", required, placeholder="Краткое описание товара", cols="30", rows="10") #{hasError ? oldInput.description : null}

        input(type="hidden", name="_csrf", value=csrfToken)
        input.btn(type="submit", value="Создать")

    script(src="/js/script.js")