doctype html 
html(lang="ru")
  head 
    include ../../includes/admin-head
  body 
    include ../../includes/admin-navigation
    
    section.update-product

      if hasProduct
      
        h1.title #{pageTitle}   

        form(action="/admin/edit-product", method="POST", enctype="multipart/form-data", novalidate)
        
          img(src="/" + product.imageUrl, alt=product.title)
          input.box(type="file", name="image", accept=".jpg,.jpeg,.png")

          input(type="hidden", name="oldImageUrl", value=product.imageUrl)

          label(for="title") Наименование
          input(class=(errors.title ? "box invalid" : "box"), type="text", name="title", required, value=(errors.title ? null : product.title), placeholder=(errors.title ? errors.title.msg : null))#title

          label(for="price") Цена
          input(class=(errors.price ? "box invalid" : "box"), type="number", name="price", step="0.01", min="0", required, value=(errors.price ? null : product.price), placeholder=(errors.price ? errors.price.msg : null))#price

          label(for="categoryId") Категория
          select.box(name="categoryId", required)#categoryId
            each cat in categories
              option(value=cat.id, selected=(cat.id === product.categoryId ? true : false)) #{cat.title}
          input(type="hidden", name="categories", value=categories)

          label(for="description") Краткое описание
          textarea(class=(errors.description ? "box invalid" : "box"), name="description", required, cols="30", rows="10", placeholder=(errors.description ? errors.description.msg : null), id="description")|#{errors.description ? null : product.description}
          div.flex-btn
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="id", value=product.id)
            input.btn(type="submit", value="Сохранить")
            a.option-btn(href="/catalog") Назад
      
      else 
        p.empty Товар не обнаружен!

    script(src="/js/script.js")